body {
  background-color: gray;
}

.calculator {
  border:black solid 3px;
  width: 316px;
  margin: 10% auto;
  .screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    border: lightgray solid 1px;
    width: 310px;
    height: 75px;
    margin: 2px;
    font-size: xx-large;
    font-weight: bolder;

  }
  .keys {
    display: flex;
    flex-wrap: wrap;
  }
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: lightgray solid 1px;
  width: 75px;
  height: 75px;
  margin: 2px;
  font-size: xx-large;
  font-weight: bolder;
}
button:hover {
  background-color: lightseagreen;
}

